ion-content {
    --background: #FFFFFF;
}

ion-button.phone {
    --border-width: 1px;

    ion-icon {
        font-size: 14px;
    }
}

ion-img-viewer {
    border-radius: 3px;
    margin-left: auto;
    padding: 5px;
    border: 1px solid var(--ion-color-light-shade);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

ion-thumbnail {
    --size: 128px;
    --border-radius: 3px;
    margin-left: auto;
}

ion-button ion-badge {
    margin-left: 8px;
    font-weight: 400;
}