ion-toolbar {
    --min-height: 44px;
}

ion-title {
    font-size: 1rem;
}

ion-grid,
ion-col {
    padding: 0 8px;
}

ion-col {
    cursor: pointer;
}

ion-col:hover img {
    transform: scale(0.9);
}

img {
    width: 48px;
    transition: 0.2s;
}

p {
    margin: 0;
    font-size: 0.9rem;
}
