<ion-content>

  <ion-buttons class="close">

    <ion-button fill="clear" color="primary" (click)="dismiss()">

      <ion-icon slot="icon-only" name="close"></ion-icon>

    </ion-button>

  </ion-buttons>

  <ion-list>

    <ion-item lines="full">

      <ion-label class="ion-text-center">

        <h5>$ 1352.46</h5>

        <p>20 hours worked</p>

      </ion-label>

    </ion-item>

    <ion-item lines="full">

      <ion-icon slot="start" name="location-outline"></ion-icon>

      <ion-label class="ion-text-wrap">

        <h6>EB 22 Nov</h6>

        <p>22 Nov</p>

      </ion-label>

      <span slot="end">$ 248.98</span>

    </ion-item>

    <ion-item lines="full">

      <ion-icon slot="start" name="location-outline"></ion-icon>

      <ion-label class="ion-text-wrap">

        <h6>EB 22 Nov</h6>

        <p>22 Nov</p>

      </ion-label>

      <span slot="end">$ 248.98</span>

    </ion-item>

    <ion-item lines="full">

      <ion-icon slot="start" name="location-outline"></ion-icon>

      <ion-label class="ion-text-wrap">

        <h6>EB 22 Nov</h6>

        <p>22 Nov</p>

      </ion-label>

      <span slot="end">$ 248.98</span>

    </ion-item>

    <ion-item lines="full">

      <ion-icon slot="start" name="location-outline"></ion-icon>

      <ion-label class="ion-text-wrap">

        <h6>EB 22 Nov</h6>

        <p>22 Nov</p>

      </ion-label>

      <span slot="end">$ 248.98</span>

    </ion-item>

    <ion-item lines="full">

      <ion-icon slot="start" name="location-outline"></ion-icon>

      <ion-label class="ion-text-wrap">

        <h6>EB 22 Nov</h6>

        <p>22 Nov</p>

      </ion-label>

      <span slot="end">$ 248.98</span>

    </ion-item>

  </ion-list>

</ion-content>