ion-grid {
    --ion-grid-padding: 8px;
    --ion-grid-width: 100%;

    ion-col {
        --ion-grid-column-padding: 8px;
        --ion-grid-column-padding-lg: 8px;
        --ion-grid-column-padding-md: 8px;
        --ion-grid-column-padding-sm: 8px;
        --ion-grid-column-padding-xl: 8px;
        --ion-grid-column-padding-xs: 8px;
    }
}

ion-item {
    --padding-start: 16px;
    --inner-padding-end: 16px;
    --border-color: var(--ion-color-light);
}

ion-card {
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--ion-color-light-shade);
    animation: popIn 0.2s calc(var(--animation-order) * 30ms) both ease-in;
}

span.ellipse {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;

    &::before {
        content: "•";
    }
}

ion-button {
    --border-radius: 5px;
    margin: 0;
}

div.ion-scroll {
    overflow: auto;
    height: 100%;
}

ion-list-header {
    font-size: 1rem;
}

input {
    background: #ffffff;
    width: 100%;
    height: 44.8px;
    border-color: var(--ion-color-medium);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 8px;
}

textarea {
    background: #ffffff;
    min-width: 100%;
    max-width: 100%;
    min-height: 82px;
    padding: 8px;
    border-color: var(--ion-color-medium);
}

.choose-map .modal-wrapper {
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
}

.send-documents-modal {
    --min-width: calc(100vw - 100px);
    --min-height: calc(100vh - 100px);
}

.animate-pop-in {
    animation: popIn 0.2s calc(var(--animation-order) * 30ms) both ease-in;
}

.ion-text-grad {
    background: -webkit-linear-gradient(var(--ion-color-primary), var(--ion-color-primary-tint));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 576px) {
    .choose-map .modal-wrapper {
        width: 300px;
        height: 130px;
    }
}

@media (pointer: fine) {
    div.ion-scroll {
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--ion-color-light-shade);
        }
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
