<ion-content scrollY="false">

  <div class="container">

    <div class="part1"></div>

    <div class="part2">

      <div class="header">

        <img src="../../../assets/image/logo-full.png" width="120px">

      </div>

      <div class="ion-scroll">

        <ion-grid>
  
          <ion-row>
  
            <ion-col size="12">
  
              <ion-input placeholder="Email"></ion-input>
  
            </ion-col>
  
            <ion-col size="12">
  
              <ion-input placeholder="Password"></ion-input>
  
            </ion-col>
              
          </ion-row>
          
        </ion-grid>
  
      </div>

      <div class="footer">

        <ion-button>Login</ion-button>

      </div>

    </div>

  </div>

</ion-content>