<ion-content scrollY="false">

  <div class="container">

    <div class="part1 animate__animated animate__fadeIn"></div>

    <div class="part2">

      <div class="header animate__animated animate__fadeInDown">

        <img src="../../../assets/image/logo-full.png" width="120px">

      </div>

      <div class="ion-scroll animate__animated animate__fadeInRight">

        <ion-grid>
  
          <ion-row>
  
            <ion-col size="12">
  
              <ion-input placeholder="Name"></ion-input>
  
            </ion-col>
  
            <ion-col size="12">
  
              <ion-input placeholder="Email"></ion-input>
  
            </ion-col>
  
            <ion-col size="12">
  
              <ion-input placeholder="Phone Number"></ion-input>
  
            </ion-col>
  
            <ion-col size="12">
  
              <ion-input placeholder="Password"></ion-input>
  
            </ion-col>
              
          </ion-row>
          
        </ion-grid>
  
      </div>

      <div class="footer animate__animated animate__fadeInUp">

        <ion-button>Register</ion-button>

      </div>

    </div>

  </div>

</ion-content>