.container {
    display: flex;
    height: 100%;
    width: 100%;

    .part1 {
        display: none;
        background-image: url(../../../assets/image/bg_login.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .part2 {
        width: 100%;
        height: calc(100% - 60px);

        .header {
            padding: 16px;
            text-align: center;
        }

        .ion-scroll {
            height: calc(100% - 82px);
            padding: 0;
        }
    }
}

ion-input {
    --background: var(--ion-color-light);
    --padding-start: 16px !important;
    --padding-end: 16px !important;
    border-radius: 2px;
    border: none;

    &.password {
        flex-direction: row-reverse;
    }
}

.input-group {
    display: flex;
    
    ion-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    ion-button {
        --background: var(--ion-color-light);
        --border-radius: 0 2px 2px 0;
    }
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ion-color-light);
    padding: 0 16px;
    border-radius: 2px;
    height: 100%;

    img {
        height: 14px;
        margin-right: 5px;
    }
}

ion-button b {
    font-weight: 400;
    color: var(--ion-color-primary);
}

@media (min-width: 768px) {
    .container {
        .part1 {
            display: block;
            width: 60%;
        }

        .part2 {
            width: 40%;

            .ion-scroll {
                display: flex;
                align-items: center;
                padding: 0 16px;
                height: calc(100% - 100px);
            }
        }
    }
}