<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Settings</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content color="light">

  <ion-grid>

    <ion-row>

      <ion-col size-xs="12" size-sm="12">

        <ion-card>

          <ion-card-header>

            <ion-card-title>Personal Data</ion-card-title>

          </ion-card-header>

          <ion-card-content class="ion-no-padding">

            <ion-grid>

              <ion-row>

                <ion-col size-xs="12" size-sm="5">

                  <ion-label class="stacked">Name</ion-label>

                  <ion-input></ion-input>

                </ion-col>

                <ion-col size-xs="12" size-sm="4">

                  <ion-label class="stacked">Email</ion-label>

                  <ion-input></ion-input>

                </ion-col>

                <ion-col size-xs="12" size-sm="3">

                  <ion-label class="stacked">Telefone</ion-label>

                  <ion-input></ion-input>

                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="6">

        <ion-card button="true">

          <ion-card-header>

            <ion-card-title>Driver License</ion-card-title>

          </ion-card-header>

          <ion-card-content class="ion-no-padding">

            <ion-item lines="none">

              <ion-icon slot="start" name="download-outline" color="medium"></ion-icon>

              <ion-label color="medium">20201111000000000.pdf</ion-label>

            </ion-item>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="6">

        <ion-card button="true">

          <ion-card-header>

            <ion-card-title>Car Insurance</ion-card-title>

          </ion-card-header>

          <ion-card-content class="ion-no-padding">

            <ion-item lines="none">

              <ion-icon slot="start" name="download-outline" color="medium"></ion-icon>

              <ion-label color="medium">20201111000000000.pdf</ion-label>

            </ion-item>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col size-xs="12" size-sm="12">

        <ion-card>

          <ion-card-header>

            <ion-card-title>Terms and Conditions</ion-card-title>

          </ion-card-header>

          <ion-card-content>

            <div class="ion-scroll terms-conditions">

              <h2 style="margin-bottom: 30px; text-align: center; font-size: 1.125rem; font-weight: 600; color: #000;">Terms and Conditions</h2>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">Please read these Terms and Conditions (“Agreement”, “Terms and Conditions”) carefully before using
                routific.com (“the Site”) operated by Routific Solutions Inc. (“us”, “we”, or “our”). This Agreement
                sets forth the legally binding terms and conditions for your use of the Site at routific.com.</p>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the
                Site or contributing content or other materials to the Site, you agree to be bound by these Terms and
                Conditions. Capitalized terms are defined in this Agreement.</p>

              <h2 style="margin-top: 50px; margin-bottom: 30px; text-align: center; font-size: 1.125rem; font-weight: 600; color: #000;">Intellectual Property</h2>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">The Site and its original content, features and functionality are owned by Routific Solutions Inc. and
                are protected by international copyright, trademark, patent, trade secret and other intellectual
                property or proprietary rights laws.</p>

              <h2 style="margin-top: 50px; margin-bottom: 30px; text-align: center; font-size: 1.125rem; font-weight: 600; color: #000;">Termination</h2>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">We may terminate your access to the Site, without cause or notice, which may result in the forfeiture
                and destruction of all information associated with you. All provisions of this Agreement that by their
                nature should survive termination shall survive termination, including, without limitation, ownership
                provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

              <h2 style="margin-top: 50px; margin-bottom: 30px; text-align: center; font-size: 1.125rem; font-weight: 600; color: #000;">Links To Other Sites</h2>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">Our Site may contain links to third-party sites that are not owned or controlled by Routific Solutions
                Inc..</p>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">Routific Solutions Inc. has no control over, and assumes no responsibility for, the content, privacy
                policies, or practices of any third party sites or services. We strongly advise you to read the terms
                and conditions and privacy policy of any third-party site that you visit.</p>

              <h2 style="margin-top: 50px; margin-bottom: 30px; text-align: center; font-size: 1.125rem; font-weight: 600; color: #000;">Governing Law</h2>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be
                governed and construed in accordance with the laws of British Columbia, Canada, without giving effect to
                any principles of conflicts of law.</p>

              <h2 style="margin-top: 50px; margin-bottom: 30px; text-align: center; font-size: 1.125rem; font-weight: 600; color: #000;">Changes To This Agreement</h2>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by
                posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes
                your acceptance of the new Terms and Conditions.</p>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or
                any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use
                of the Site immediately.</p>

              <h2 style="margin-top: 50px; margin-bottom: 30px; text-align: center; font-size: 1.125rem; font-weight: 600; color: #000;">General Conditions</h2>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">You agree to indemnify and hold harmless Routific and its officers, directors, employees and agents,
                from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses, costs
                and expenses, including, without limitation, reasonable legal and accounting fees (including costs of
                defense of claims, suits or proceedings brought by third parties), in any way related to (a) your access
                to or use of our products or services, (b) your data on our systems, or (c) your breach of any of these
                Terms.</p>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">Our products and services and all included content are provided on an “as is” basis without warranty of
                any kind, whether express or implied. WE SPECIFICALLY DISCLAIM ANY AND ALL WARRANTIES AND CONDITIONS OF
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT
                OF COURSE OF DEALING OR USAGE OF TRADE. We take no responsibility and assume no liability for any user
                generated content that you or any other user or third party posts or transmits using our products. You
                understand and agree that you may be exposed to user generated content that is inaccurate,
                objectionable, inappropriate for children, or otherwise unsuited to your purpose.</p>

              <p style="margin-top: 10px; font-size: 0.9rem; text-align: justify; color: #737373;">To the fullest extent permitted by law, we exclude all representations and warranties relating to this
                website and its contents or which is or may be provided by any affiliates or any other third party,
                including in relation to any inaccuracies or omissions in this website and/or the Company’s literature;
                and exclude all liability for damages arising out of or in connection with your use of this website.
                This includes, without limitation, direct loss, loss of business or profits (whether or not the loss of
                such profits was foreseeable, arose in the normal course of things or you have advised this Company of
                the possibility of such potential loss), damage caused to your computer, computer software, systems and
                programs and the data thereon or any other direct or indirect, consequential and incidental damages. The
                above exclusions and limitations apply only to the extent permitted by law. None of your statutory
                rights as a consumer are affected.</p>
              
            </div>

            <ion-item lines="none">

              <ion-icon slot="start" name="checkbox" color="primary"></ion-icon>

              <ion-label class="ion-text-wrap">I agree to the Terms and Conditions</ion-label>

            </ion-item>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>