<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button class="animate__animated animate__fadeIn" *ngIf="slideActiveIndex == 0"></ion-menu-button>
      
      <ion-button class="animate__animated animate__fadeIn" (click)="slides.slideTo(0)" *ngIf="slideActiveIndex > 0">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="arrow-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title class="animate__animated animate__fadeIn" *ngIf="slideActiveIndex == 0">Settings</ion-title>

    <ion-title class="animate__animated animate__fadeIn" *ngIf="slideActiveIndex == 1">Profile</ion-title>

    <ion-title class="animate__animated animate__fadeIn" *ngIf="slideActiveIndex == 2">License</ion-title>

    <ion-title class="animate__animated animate__fadeIn" *ngIf="slideActiveIndex == 3">Insurance</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="animate__animated animate__fadeIn">

  <ion-slides class="swiper-no-swiping" (ionSlideWillChange)="slideChanged($event)">

    <ion-slide>
      <div class="ion-scroll">
        <ion-list class="ion-no-padding">
          <ion-item class="gradient-primary animate__animated animate__fadeIn" lines="none" *ngIf="!driver?.email || driver?.status == 0">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h2>Complete your registration!</h2>
              <p *ngIf="!driver?.email">* Add your email to your profile.</p>
              <p *ngIf="driver?.status == 0">* Send us your driving license and your car insurance.</p>
            </ion-label>
          </ion-item>
          <ion-item class="animate__animated animate__fadeIn" lines="none" color="success" *ngIf="driver?.status == 1 && driver?.email">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h2>Documents sent!</h2>
              <p>Now just wait for the documents to be evaluated.</p>
            </ion-label>
          </ion-item>
          <ion-item lines="full" button="true" detail="true" (click)="slides.slideTo(1)">
            <ion-icon slot="start" name="person-circle-outline" *ngIf="driver?.email"></ion-icon>
            <ion-icon class="animate__animated animate__pulse animate__infinite" slot="start" name="alert-circle-outline" color="primary" *ngIf="!driver?.email"></ion-icon>
            <ion-label>
              <h4>Profile</h4>
              <p>Name, Email, Phone</p>
            </ion-label>
          </ion-item>
          <ion-item lines="full" button="true" detail="true" (click)="slides.slideTo(2)">
            <ion-icon slot="start" name="id-card-outline" *ngIf="driver?.license"></ion-icon>
            <ion-icon class="animate__animated animate__pulse animate__infinite" slot="start" name="alert-circle-outline" color="primary" *ngIf="!driver?.license"></ion-icon>
            <ion-label>
              <h4>License</h4>
              <p>Driver License</p>
            </ion-label>
          </ion-item>
          <ion-item lines="full" button="true" detail="true" (click)="slides.slideTo(3)">
            <ion-icon slot="start" name="car-outline" *ngIf="driver?.insurance"></ion-icon>
            <ion-icon class="animate__animated animate__pulse animate__infinite" slot="start" name="alert-circle-outline" color="primary" *ngIf="!driver?.insurance"></ion-icon>
            <ion-label>
              <h4>Insurance</h4>
              <p>Car Insurance</p>
            </ion-label>
          </ion-item>
          <ion-item lines="full" button="true" detail="true" (click)="slides.slideTo(4)">
            <ion-icon slot="start" name="key-outline"></ion-icon>
            <ion-label>
              <h4>Redefine password</h4>
            </ion-label>
          </ion-item>
          <ion-item lines="full" button="true" detail="true" href="/terms-and-privacy-policy" target="_blank">
            <ion-icon slot="start" name="reader-outline"></ion-icon>
            <ion-label>
              <h4>Terms and Conditions</h4>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-scroll">
        <ion-grid class="ion-padding-top" [formGroup]="formGroup">
          <ion-row>
            <ion-col size="12">
              <ion-label class="stacked">Name</ion-label>
              <ion-input type="text" maxlength="100" formControlName="name" (keyup.enter)="save()"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-label class="stacked">Email</ion-label>
              <ion-input type="" maxlength="255" formControlName="email" (keyup.enter)="save()"></ion-input>
            </ion-col>
            <ion-col class="ion-text-center" size-xs="3" size-md="2" size-lg="1">
              <ion-label class="stacked">Code</ion-label>
              <div class="flag">
                <img src="../../../assets/icon/us-flag.png"> +1
              </div>
            </ion-col>
            <ion-col size-xs="9" size-md="10" size-lg="11">
              <ion-label class="stacked">Phone</ion-label>
              <ion-input type="tel" inputmode="tel" maxlength="40" formControlName="phone" (keyup.enter)="save()"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-scroll">
        <div class="ion-padding">
          <ion-label>
            <p>Driver License</p>
          </ion-label>
          <ion-button class="choose-image" fill="clear" (click)="chooseLicense()" *ngIf="!driver?.license">
            <div>
              <ion-icon name="image-outline"></ion-icon>
              Choose Image
            </div>
          </ion-button>
          <ion-thumbnail (click)="chooseLicense()" *ngIf="driver?.license">
            <img [src]="driver?.license">
          </ion-thumbnail>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-scroll">
        <div class="ion-padding">
          <ion-label>
            <p>Car Insurance</p>
          </ion-label>
          <ion-button class="choose-image" fill="clear" (click)="chooseInsurance()" *ngIf="!driver?.insurance">
            <div>
              <ion-icon name="image-outline"></ion-icon>
              Choose Image
            </div>
          </ion-button>
          <ion-thumbnail (click)="chooseInsurance()" *ngIf="driver?.insurance">
            <img [src]="driver?.insurance">
          </ion-thumbnail>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-scroll">
        <ion-grid class="ion-padding-top">
          <ion-row>
            <ion-col size="12">
              <ion-label class="stacked">Password</ion-label>
              <ion-input type="password" maxlength="255" name="password" [(ngModel)]="password" (keyup.enter)="save()"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-label class="stacked">Confirm Password</ion-label>
              <ion-input type="password" maxlength="255" name="confirmPassword" [(ngModel)]="confirmPassword" (keyup.enter)="save()"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer class="ion-padding ion-no-border animate__animated animate__fadeIn"
  *ngIf="slideActiveIndex > 0">

  <ion-button expand="block" [disabled]="formGroup.invalid" *ngIf="slideActiveIndex == 1" (click)="save()">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">Save</span>
  </ion-button>

  <ion-button expand="block" [disabled]="!license" *ngIf="slideActiveIndex == 2" (click)="save()">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">Save</span>
  </ion-button>

  <ion-button expand="block" [disabled]="!insurance" *ngIf="slideActiveIndex == 3" (click)="save()">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">Save</span>
  </ion-button>

  <ion-button expand="block" [disabled]="!password || !confirmPassword" *ngIf="slideActiveIndex == 4" (click)="save()">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">Save</span>
  </ion-button>

</ion-footer>