ion-datetime {
    --padding-start: 16px;
    --padding-end: 16px;
    background: var(--ion-color-light);
    width: 100%;
}

.input-group {
    display: flex;
    justify-content: center;
    padding: 16px;

    ion-datetime:first-child {
        border-radius: 25px 0 0 25px;
        border-right: 0.55px solid #e5e6e8;
    }

    ion-button {
        --border-radius: 0 25px 25px 0;
        height: 40px;
    }
}

ion-slides {
    display: block;
    height: 100%;
}

ion-grid {
    flex-wrap: nowrap;
	overflow: auto;
    padding: 0;
    height: 100%;

    .head {
        background: var(--ion-color-primary); /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #fdc680,vvar(--ion-color-primary)); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #fdc680, var(--ion-color-primary));
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 99999;
        padding: 5px 0;

        ion-col {
            font-size: 0.9rem;
            font-weight: 700;
            text-align: center;
        }
    }

    .body {
        ion-row:nth-child(even) {
            background-color: #f2f2f2;
        }

        ion-col {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;

            small {
                margin-left: 5px;
            }
        }
    }

    &.report {
        .head,
        .body {
            min-width: 464px;
        }
    }

    &.details {
        .head,
        .body {
            min-width: 2415px;
        }
    }

    @media (pointer: fine) {
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--ion-color-light-shade);
        }
    }
}

@media (min-width: 576px) {
    ion-datetime {
        width: 200px;
    }
}