.balance {
    background: var(--ion-color-primary);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FDCF93, var(--ion-color-primary));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FDCF93, var(--ion-color-primary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    ion-card-title {
        color: #fff;
    }

    h6 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
    }

    p {
        color: #fff;
    }

    ion-icon {
        position: absolute;
        top: calc(50% - 28px);
        right: 20px;
        transform: translateY(-50%);
        font-size: 32px;
        color: #fff;
    }
}
