.balance {
    background: var(--ion-color-primary); /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fdc680, var(--ion-color-primary-shade)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fdc680, var(--ion-color-primary-shade));

    ion-card-title {
        color: #fff;
    }

    h6 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
    }

    p {
        color: #fff;
    }

    ion-icon {
        position: absolute;
        top: calc(50% - 28px);
        right: 20px;
        transform: translateY(-50%);
        font-size: 32px;
        color: #fff;
    }
}
